@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primery-white-color: #fff;
  --primery-black-color: #000;
  --accent-color: #4e75ff;
  --border-color: #808080;
}

.nav {
  padding: 20px;
}

.timer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 2em;
  font-weight: bold;
}

.label {
  font-size: 1em;
}

.input {
  display: flex;
}

/* -------------------form--------------------- */

.form {
  display: block;
  border-radius: 8px;
  padding: 24px;
  width: 224px;
}

.form > label {
  /* display: block; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: column;
}

fieldset {
  width: 200px;
  padding: 10px;
  margin: 0;
  accent-color: var(--accent-color);
}

.form > label > input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.form > label > input:focus-visible {
  outline-color: var(--accent-color);
}

.form button {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  border: none;
  width: 95px;
  height: 40px;
  margin-top: 16px;
  width: 223px;
  height: 40px;
  margin-top: 16px;
}
.form button:hover {
  background-color: rgba(108, 140, 255, 1);
}
